Vivado/
HCCLinux/
VitisWorkspace/
.Xil/
.vscode/

vivado*
vitis*
*Project/
xrc.log

Sources/BlockDiagram/top/ip/
Sources/BlockDiagram/top/top.bd
Sources/BlockDiagram/top/top.bda
Sources/BlockDiagram/top/top.bxml
Sources/BlockDiagram/top/ipshared/
Sources/BlockDiagram/top/sim/
Sources/BlockDiagram/top/synth/
Sources/BlockDiagram/top/top_ooc.xdc
Sources/BlockDiagram/top/ui/
Sources/BlockDiagram/top/hw_handoff


NA/

Export/
